@import "./colors";

.googlemaps {
  width: 100vw;
  height: 100vh;
  padding-right: 1rem;
  iframe {
    width: 100vw;
    height: 100vh;
    border: none;
    padding-right: 1rem;
    position: absolute;
    z-index: -1;
  }
  .googlemaps--container {
    width: 34rem;
    height: 100vh;
    float: right;

    .googlemaps--container-right-sector {
      width: 34rem;
      height: 100vh;
      padding: 1rem 1rem 1rem 2rem;
      background: $color-black;
    }
    .right--sector-text {
      margin-top: 4rem;
      text-align: right;
      h3 {
        color: $color-white-grey;
        font-size: 24px;
        font-weight: 400;
        text-align: right;
        strong {
          color: $color-green;
          font-weight: 700;
        }
      }
      p {
        margin-top: 2rem;
        color: $color-white;
        font-size: 16px;
        text-align: right;
        line-height: 2.6rem;
        letter-spacing: 1px;
        font-weight: 300;
      }
    }

    .googlemaps--link-div {
      margin-top: 3rem;
    }
    #googlemaps--link {
      font-size: 20px;
      color: $color-green;
      text-decoration: none;
      font-weight: 700;
    }
  }
}
